$font-color: rgb(216, 216, 216);
$bg-color: rgb(31, 36, 30);
$btn-highlight: rgb(125, 146, 121);
$btn-highlight-active: rgb(126, 212, 109);
$btn-highlight-font: rgb(250, 253, 246);
$bg-grad: linear-gradient(52deg, rgba(31,36,30,1) 0%, rgba(50,66,47,1) 49%, rgba(31,36,30,1) 100%);
$turkus: rgb(94, 211, 197);
$neon-green: rgb(73, 206, 50);
$correct: rgb(32, 202, 2);
$incorrect: rgb(196, 1, 1);
$gold: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
$silver: linear-gradient(to right, #BDC3C7, #ECF0F1);