@import "color";

h1 {
	font-size: 4rem;
	margin: 20px auto;
}

input[type="text"] {
	margin: 50px auto;
	width: 40vh;
	height: 5vh;
	font-size: 1.2rem;
	text-align: center;
	border: none;
	border-bottom: 2px solid gray;
	background-color: transparent;
}

input[type="text"]:focus {
	outline: none;
	border-bottom: 2px solid $turkus;
}
